<!-- <h1 mat-dialog-title>
    {{title}}
  </h1>
  
  <div mat-dialog-content>
    <p>{{message}}</p>
  </div>
  
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
    <button mat-raised-button color="primary" (click)="onDismiss()">No</button>
  </div> -->
  <mat-card-title class="cardTitle" class="text-center">
    <img class="logo" src="./assets/images/logo.png" />
  </mat-card-title>
  <h1 mat-dialog-title class="text-center"> {{title}}</h1>
  <div mat-dialog-content class="text-center">
    <p>{{message}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
    <button mat-raised-button color="primary" (click)="onDismiss()">No</button>
  </div>