<div class="background-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="card-title"><img src="./assets/images/ApplyApplications.png" class="titleImageClass">
                    <label class="headertext"><b>{{FormName}}</b></label>
                </h4>
            </div>
        </div>
    </div>

    <div class="container panel pt-14" *ngIf="GlobalVariableService.applicationdetaildiv">
        <div class="col-md-12 mb-2 ">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                    <strong class="fontsize">{{langObject.ApplicationNo}}</strong>
                </div>
                <div class="col-md-8">
                    <span class="fontsize">
                        {{GlobalVariableService.objApplicationInfo.ApplicationNo}}
                    </span>
                </div>
                </div>
                </div>
               
                <div class="col-md-6">
             <div class="row">
                 <div class="col-md-4">
                    <span>
                        <strong class="fontsize">{{langObject.ApplicationDate}}</strong>
                    </span>
                </div>
                <div class="col-md-8">
                        <span class="fontsize">
                            {{GlobalVariableService.objApplicationInfo.ApplicationDate|date :  "dd/MM/yyyy"}}
                        </span>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                    <strong class="fontsize">{{langObject.ServiceType}}</strong>
                </div>
                <div class="col-md-8">
                    <span class="fontsize">
                        {{GlobalVariableService.objApplicationInfo.ApplicationTypeEn}}
                    </span>
                </div>
                </div>
                </div>
               
                <div class="col-md-6 fontsize">
                <div class="row">
                    <div class="col-md-4">
                    <span>
                        <strong class="fontsize">{{langObject.ApplicationStatus}}</strong>
                       
                    </span>
                </div>
                <div class="col-md-8">
                
                    <span class="">
                        {{GlobalVariableService.objApplicationInfo.StatusNameEn}}
                    </span>
                </div>
                </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="row">
                 <div class="col-md-4">
                    <!-- <strong>Emirates Id :</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{GlobalVariableService.objApplicationInfo.Applicant_Id}} -->
                    <strong class="fontsize">{{langObject.EmiratesId}} </strong>
                </div>
                <div class="col-md-8">
                    <span class="fontsize">
                        {{GlobalVariableService.objApplicationInfo.Applicant_Id}}
                    </span>
                </div>
                </div>
            </div>
              
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                    <span>
                        <strong class="fontsize">{{langObject.ApplicantName}}</strong>
                    </span>
                </div>
                <div class="col-md-8">
                    <span class="fontsize">
                        {{GlobalVariableService.objApplicationInfo.CREATED_BY}}
                    </span>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <mat-card class="mat-elevation-z3 mlr-15 mt-3 ">
        <mat-card-content>

            <hr>
<!-- Tables for ApplicationTypecaption -->

            <!-- <mat-tab-group animationDuration="1ms" [(selectedIndex)]="selectedIndex"> -->
            <mat-tab-group animationDuration="5ms" >
                <mat-tab >
                    <ng-template mat-tab-label >
                        <span (click) = "start()" class="sg-mat-txt" matTooltip="App Request" aria-label="">{{langObject.AppRequest}}</span>
                    </ng-template>
                    <mat-card-content>
                        <form class="example-form">





                            <div class="row">
                                <div class="container" *ngIf="GlobalVariableService.ApplicationTypeCategory == 2">
                                <div class="row table table-responsive">
                                <table mat-table [dataSource]="servicePayment" class=" table mat-elevation-z8">
                                
                                <!-- Checkbox Column -->
                                <!-- <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)"
                                          [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                                </td>
                                </ng-container> -->
                                
                                <!-- Position Column -->
                                
                                <ng-container matColumnDef="ApplicationType">
                                    <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.servicePaymentTable[0]}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.ApplicationType}} </td>
                                </ng-container>
                                
                                <!-- Name Column -->
                                <ng-container matColumnDef="ApplicationNumber">
                                    <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.servicePaymentTable[1]}} </th>
                                    <td mat-cell *matCellDef="let element">{{element.ApplicationNumber}} </td>
                                </ng-container>
                                
                                <!-- Weight Column -->
                                <ng-container matColumnDef="ApplicationDate">
                                    <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color"> {{langObject.servicePaymentTable[2]}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element.ApplicationDate}} </td>
                                </ng-container>
                                
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="Amount">
                                    <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color"> {{langObject.servicePaymentTable[3]}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
                                </ng-container>
                                
                                
                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.servicePaymentTable[4]}} </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                </ng-container>
                                
                                
                                <ng-container matColumnDef="Select">
                                    <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color" [hidden]="!GlobalVariableService.AppDetailtable" >{{langObject.servicePaymentTable[5]}} </th>
                                
                                    <td mat-cell *matCellDef="let row ; let i = index;"  [hidden]="!GlobalVariableService.AppDetailtable">
                                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                            (change)="SelectservicePayment(row.PaymentServiceId);" [checked]="row.selected">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="servicePaymentColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: servicePaymentColumns;">
                                
                                
                                </tr>
                                </table>
                                </div>
                                </div>
                                <div class="container" *ngIf="GlobalVariableService.ApplicationTypeCategory == 3">
                                <div class="row table table-responsive">
                                    <table mat-table [dataSource]="finepayment" matSort class="example-container mat-elevation-z8 table1">
                                      
                                        <ng-container matColumnDef="ApplicationNumber">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color"> {{langObject.finepayment[0]}} </th>
                                            <td mat-cell *matCellDef="let element"
                                            title="{{element.ApplicationNumber}}"
                                            > {{element.ApplicationNumber}} </td>
                                        </ng-container>
                
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Fine">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">  {{langObject.finepayment[1]}} </th>
                                            <td mat-cell *matCellDef="let element" title="{{element.Fine}}"
                                            > {{element.Fine}} </td>
                                        </ng-container>
                
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="FineTerm">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">  {{langObject.finepayment[2]}} </th>
                                            <td mat-cell *matCellDef="let element" title="{{element.FineTerm}}">{{element.FineTerm}}</td>
                                        </ng-container>
                
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="FineType">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.finepayment[3]}} </th>
                                            <td mat-cell *matCellDef="let element"
                                            title="{{element.FineType}}"
                                            > {{element.FineType}} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="PaymentStatus">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.finepayment[4]}} </th>
                                            <td mat-cell *matCellDef="let element"
                                            title="{{element.PaymentStatus}}"
                                            > {{element.PaymentStatus}} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="FineDate">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">  {{langObject.finepayment[5]}} </th>
                                            <td mat-cell *matCellDef="let element" title="{{element.FineDate | date: 'dd/MM/yyyy HH:mm' }}"> {{element.FineDate | date: 'dd/MM/yyyy HH:mm' }} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="FineAmount">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">  {{langObject.finepayment[6]}} </th>
                                            <td mat-cell *matCellDef="let element"
                                            title="{{element.FineAmount}}"
                                            > {{element.FineAmount}} </td>
                                        </ng-container>
                
                                        <ng-container matColumnDef="Select">
                                            <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color"> {{langObject.finepayment[7]}} </th>
                
                                            <td mat-cell *matCellDef="let row ; let i = index;">
                                                <mat-checkbox  (click)="$event.stopPropagation()"
                                                    (change)="SelectFinePaymentPayment(row.FinesPaymentId);"
                                                    [checked]="row.selected">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                
                                        <tr mat-header-row *matHeaderRowDef="finePaymentColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: finePaymentColumns;">
                                        </tr>
                                    </table>
                
                                    <mat-paginator class="mat-elevation-z8"  [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                                    </mat-paginator>
                                </div>
                                <div class="row" *ngIf="!GlobalVariableService.AppDetailtable">
                                    <div class="col-md-12">
                                      <input type="button" value="Submit" class="btn" (click)="CreateApplication()">
                                    </div>
                                </div>
                                </div>
                                <div class='col-md-12'  *ngIf="GlobalVariableService.ApplicationTypeCategory == 4" >
                                    <div class="row" style="height: 45px ">
                                        <div class="col-md-12" style="text-align: center">
                                            <strong *ngIf="GlobalVariableService.AppDetailtable">
                                                <h4 class="modal-title" id="exampleModalLabel" >
                                                    <u><strong>
                                                        {{langObject.RequestforGeospatialMaps}}
                                                        </strong>
                                                    </u>
                                                </h4>
                                            </strong>
                                        </div>
                                    </div>
                                
                                    <div class="row" *ngIf="GlobalVariableService.AppDetailtable">
                                        <div class="col-md-2 padding"  *ngIf = "!isCustomMap || isCustomMap"  >
                                            <mat-form-field>
                                                <mat-label>{{langObject.MapType}}</mat-label>
                                                <mat-select  name="MapType" [(ngModel)]="objGeoSpatialMaps.MapType" (ngModelChange)="changemapType(objGeoSpatialMaps.MapType)" >
                                                <mat-option value="ReadyMap">{{langObject.ReadyMap}}</mat-option>
                                                  <mat-option value="CustomMap">{{langObject.CustomMap}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-2 padding"  *ngIf = "!isCustomMap" >
                                            <mat-form-field>
                                                <mat-label>City</mat-label>
                                                <mat-select name="City" [(value)]="City" [(ngModel)]="objGeoSpatialMaps.City" >
                                                    <mat-option value=""> {{GlobalVariableService.isEn === true ? 'please select'  : 'يرجى اختيار'}}</mat-option>
                                                    <mat-option value="ajmanSector1">{{langObject.ajmanSector1}}</mat-option>
                                                    <mat-option value="ajmanSector2">{{langObject.ajmanSector2}}</mat-option>
                                                    <mat-option value="ajmanSector3">{{langObject.ajmanSector3}}</mat-option>
                                                    <mat-option value="ajmanSector4">{{langObject.ajmanSector4}}</mat-option>
                                                  </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-2 padding" *ngIf = "isCustomMap">
                                            <mat-form-field>
                                                <mat-label>Sector</mat-label>
                                                <mat-select name="Sector" [(ngModel)]="objGeoSpatialMaps.Sector" >
                                                  <mat-option value="">{{GlobalVariableService.isEn === true ? 'please select'  : 'يرجى اختيار'}}</mat-option>
                                                  <mat-option value="ajmanSector1">{{langObject.ajmanSector1}}</mat-option>
                                                  <mat-option value="ajmanSector2">{{langObject.ajmanSector2}}</mat-option>
                                                  <mat-option value="ajmanSector3">{{langObject.ajmanSector3}}</mat-option>
                                                  <mat-option value="ajmanSector4">{{langObject.ajmanSector4}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-2 padding" *ngIf = "isCustomMap" >
                                            <mat-form-field>
                                                <mat-label>{{langObject.District}}</mat-label>
                                                <mat-select name="District" [(value)]="District" [(ngModel)]="objGeoSpatialMaps.District" >
                                                  <mat-option value="">{{GlobalVariableService.isEn === true ? 'please select'  : 'يرجى اختيار'}}</mat-option>
                                                  <mat-option value="ajmanDistrict1">{{langObject.ajmanDistrict1}}</mat-option>
                                                  <mat-option value="ajmanDistrict2">{{langObject.ajmanDistrict2}}</mat-option>
                                                  <mat-option value="ajmanDistrict3">{{langObject.ajmanDistrict3}}</mat-option>
                                                  <mat-option value="ajmanDistrict4">{{langObject.ajmanDistrict4}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-2 padding" *ngIf = "isCustomMap">
                                            <mat-form-field >
                                                <mat-label>{{langObject.MapLayer}}</mat-label>
                                                <mat-select name="Map Layer" [(value)]="MapLayer" [(ngModel)]="objGeoSpatialMaps.MapLayer" >
                                                  <mat-option value="">{{GlobalVariableService.isEn === true ? 'please select'  : 'يرجى اختيار'}}-</mat-option>
                                                  <mat-option value="Layer1">{{langObject.Layer1}}</mat-option>
                                                  <mat-option value="Layer2">{{langObject.Layer2}}</mat-option>
                                                  <mat-option value="Layer3">{{langObject.Layer3}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-2 padding" *ngIf = "!isCustomMap || isCustomMap">
                                            <mat-form-field>
                                                <mat-label>{{langObject.MapSize}}</mat-label>
                                                <mat-select name="MapSize" [(value)]="MapSize" [(ngModel)]="objGeoSpatialMaps.MapSize" >
                                                  <mat-option value="">{{GlobalVariableService.isEn === true ? 'please select'  : 'يرجى اختيار'}}</mat-option>
                                                  <mat-option value="A4">{{langObject.A4}}</mat-option>
                                                  <mat-option value="LegalSize">{{langObject.LegalSize}}</mat-option>
                                                  <mat-option value="StandardSize">{{langObject.StandardSize}}</mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col-md-1 padding">
                                            <button mat-button style="color: white;" class="Theam_Color" (click)="addValue()" >{{langObject.Add}}</button>
                                        </div>
                                    </div>
                                    <!-- <div class="row" *ngIf = "!isCustomMap"  > -->
                                     <div class="row table-responsive">
                                        <table mat-table [dataSource]="GeospatialMaps" class="table mat-elevation-z8">
                                            <ng-container matColumnDef="City">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.GeospatialMaps[0]}} </th>
                                                <td mat-cell *matCellDef="let element"> {{element.City}} </td>
                                            </ng-container>
                                
                                            <!-- Name Column -->
                                            <ng-container matColumnDef="MapSize">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color"> {{langObject.GeospatialMaps[1]}} </th>
                                                <td mat-cell *matCellDef="let element"> {{element.MapSize}} </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="Select">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" [hidden]="!GlobalVariableService.AppDetailtable" class= "Theam_Color">{{langObject.GeospatialMaps[2]}} </th>
                                
                                                <td mat-cell *matCellDef="let row ; let i = index;" [hidden]="!GlobalVariableService.AppDetailtable">
                                                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                                        (change)="SelectFinePaymentPayment(row.City);" [checked]="row.selected">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="Upload" >
                                                <!-- <span *ngIf="!GlobalVariableService.AppDetailtable"> -->
                                                <th mat-header-cell *matHeaderCellDef [hidden]="GlobalVariableService.AppDetailtable"  style="color: white;" class= "Theam_Color">{{langObject.GeospatialMaps[3]}} </th>
                                                <td mat-cell *matCellDef="let row ; let i = index;" [hidden]="GlobalVariableService.AppDetailtable">
                                                    <label class="image-upload-container btn btn-bwm">
                                                        <!-- <span>Select Image</span> -->
                                                        <input #imageInput
                                                               type="file"
                                                               accept="image/*"
                                                               hidden
                                                               (change)="handleInputChange($event,row.GeoMapId)" >
                                                        <img src="./assets/images/Upload.png">



                                                      </label>
                                                </td>
                                            <!-- </span> -->
                                            </ng-container>


                                            <tr mat-header-row *matHeaderRowDef="GeospatialMapsColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: GeospatialMapsColumns;">
                                            </tr>
                                        </table>
                                    </div>
                                    <div class = "divider"> </div>
                                    <div class="row table-responsive" >
                                        <table mat-table [dataSource]="secondGeospatialMaps" class="table mat-elevation-z8">
                                            <ng-container matColumnDef="Sector">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color">{{langObject.secondGeospatialMaps[0]}} </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Sector}} </td>
                                            </ng-container>
                                
                                            <ng-container matColumnDef="District">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color" > {{langObject.secondGeospatialMaps[1]}}  </th>
                                                <td mat-cell *matCellDef="let element"> {{element.District}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="MapLayer">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color" > {{langObject.secondGeospatialMaps[2]}}   </th>
                                                <td mat-cell *matCellDef="let element"> {{element.MapLayer}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="MapSize">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color"> {{langObject.secondGeospatialMaps[3]}} </th>
                                                <td mat-cell *matCellDef="let element"> {{element.MapSize}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Select">
                                                <th mat-header-cell *matHeaderCellDef style="color: white;" class= "Theam_Color" [hidden]="!GlobalVariableService.AppDetailtable">{{langObject.secondGeospatialMaps[4]}}  </th>
                                
                                                <td mat-cell *matCellDef="let row ; let i = index;" [hidden]="!GlobalVariableService.AppDetailtable">
                                                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" 
                                                        (change)="SelectFinePaymentPayment(row.ApplicationNumber);" [checked]="row.selected">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="Upload" >
                                                
                                                <th mat-header-cell *matHeaderCellDef [hidden]="GlobalVariableService.AppDetailtable" style="color: white;" class= "Theam_Color" >{{langObject.secondGeospatialMaps[5]}} </th>
                                                <td mat-cell *matCellDef="let row ; let i = index;" [hidden]="GlobalVariableService.AppDetailtable">
                                                    <label class="image-upload-container btn btn-bwm">
                                                        <!-- <span>Select Image</span> -->
                                                        <input #imageInput
                                                               type="file"
                                                               accept="image/*"
                                                               hidden
                                                               (change)="handleInputChange($event,row.GeoMapId)">
                                                        <img src="./assets/images/Upload.png" >



                                                      </label>
                                                </td>
                                              
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="secondGeospatialMapsColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: secondGeospatialMapsColumns;">
                                            </tr>
                                        </table>
                                    </div>
                                  
                                </div>
                                
                                </div>

<span *ngIf="GlobalVariableService.ApplicationTypeCategory == 1">
                            <app-load-dynamic-controll #LoadDynamicControll>
                            </app-load-dynamic-controll>
                        </span>
                        </form>
                    </mat-card-content>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span (click)="saveData()" class="sg-mat-txt" matTooltip="App Files" aria-label="">
                            {{langObject.ApplicationFiles}}</span>
                    </ng-template>
                    <div class="container-fluid margintop" *ngIf="GlobalVariableService.IsDocumentUpload">
                        <div class="row margintop">
                            <div class="col-md-offset-4 width ">
                                <mat-form-field  class="d-block w-100">
                                    <mat-label>{{langObject.DocumentType}}</mat-label>
                                    <mat-select placeholder="" matNativeControl [(ngModel)]="DoctypeId" required>
                                        <!-- <mat-option selected="selected" value="-1">--Please Select--</mat-option> -->
                                        <mat-option *ngFor="let p of ApplicationtypeDocuments"
                                            [value]="p.DocumentTypeId">
                                            {{GlobalVariableService.isEn === true ? p.DocumentNameEN : p.DocumentNameAr}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="image-upload col-md-offset-4">
                                <input class="background" name="imageUrl" type="file"
                                    (change)="handleInputChange($event,'')" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="ctgrySaveButton mat-Primary pull-right mlr-15 mt-3" name="AddFile"
                                (click)="adddocumentinlist()" mat-raised-button color="primary">{{langObject.AddFile}}</button>
                        </div>
                    </div>
                    <div class="row margintop">
                        <div class="col-md-12">

                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                             
                                <ng-container matColumnDef="Document Type Name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header title="Document Type Name">
                                        {{langObject.DocumentUploadTable[1]}}</th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.DocumentTypeName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="Document Extension">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header title="Document Extension">
                                        {{langObject.DocumentUploadTable[2]}}</th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.DocumentExtension}}
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef title=" Action"> {{langObject.DocumentUploadTable[3]}} </th>
                                    <td mat-cell *matCellDef="let element ; let i = index">
                                        <!-- <img class="tableAction" (click)='selectData(element.ApplicationFileId)'
                                            src="./assets/images/edit.png" /> -->
                                            <a (click) ="DownloadDocument(element.ApplicationFileId)">{{langObject.DocumentUploadTable[4]}}</a>
                                    </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumnss"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnss;"></tr>

                            </table>
                            <mat-paginator [pageSizeOptions]="[25,50,100,200]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="GlobalVariableService.applicationdetaildiv">
                    <!-- <mat-tab *ngIf="visitStatus"> -->
                    <ng-template mat-tab-label>
                        <span class="sg-mat-txt" matTooltip="App History" aria-label="">{{langObject.ApplicationHistory}}</span>
                    </ng-template>
                    <div class="container-fluid">
                        <div class="row margintop">
                            <div class="col-md-12">

                                <table mat-table [dataSource]="AuditHistoryLst" matSort class="mat-elevation-z8 w-100">
                                    <ng-container matColumnDef="User_FullName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header title="Decision Maker">
                                            {{langObject.AuditHistoryLstTable[0]}} </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.User_FullName}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="AuditDateTime">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header title="Date Time">
                                            {{langObject.AuditHistoryLstTable[1]}}</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.AuditDateTime|date :  "dd/MM/yyyy"}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="StatusNameEn">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header title="Current Status">
                                            {{langObject.AuditHistoryLstTable[2]}}</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.StatusNameEn}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action" style="display: none;">
                                        <th mat-header-cell *matHeaderCellDef title=" Action" style="display: none" > {{langObject.AuditHistoryLstTable[3]}} </th>
                                        <td mat-cell *matCellDef="let element ; let i = index"  style="display: none" >
                                            <img class="tableAction" (click)='selectApp(i)'
                                                src="./assets/images/edit.png" />
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="AuditHistoryColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: AuditHistoryColumns;"></tr>

                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>

                        </div>

                    </div>
                </mat-tab>



            </mat-tab-group>
        </mat-card-content>

    </mat-card>

</div>

<mat-card class="mat-elevation-z3 mlr-15 mt-3">
    <mat-card-content>
        <div class="container">
<div class="row mt-3">
        <div class=""   *ngIf="GlobalVariableService.AssignedApplication">
        <mat-radio-group *ngFor="let p of statusforradiobotton">
            <mat-radio-button value={{p.StatusId}} (change)="onItemChange(p.StatusId,p.lblStatusEn)" >
                {{GlobalVariableService.isEn === true ? p.lblStatusEn : p.lblStatusAr}}</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
        <div class="row mt-5 mlr-15">
            <div class="col-md-1">
                    {{Remarksforaaprovalorrejection}}
            </div>
            <div class="col-md-4">
                <mat-form-field class='w-95' >
                    <textarea matInput placeholder="Remarks" [(ngModel)]="Remarks"></textarea>
                </mat-form-field>

            </div>
            <div class="col-md-4" *ngIf="GlobalVariableService.IsTemplateDownLoad">
                <button color="primary" class="downloadtemplate" mat-raised-button name='asdasdad'
                    (click)="DownloadTempalte()">{{langObject.DownloadForm}}</button>
            </div>
        </div>
       
        <div class="row margintop">
            <div class="col-md-12">
                <button color="primary" class="ctgrySaveButton" mat-raised-button name='Submit'
                    (click)="CreateApplication()" matTooltip="Submit"> {{langObject.Submit}}
                </button>
                <span class="divider"></span>
            </div>

        </div>
        <mat-checkbox name="Print Report" color="primary" *ngIf="GlobalVariableService.bDisplayControls">
            {{langObject.Printreport}}
        </mat-checkbox>

    </div>
    </mat-card-content>
</mat-card>
