.RadDropDownList_Material2 {
  color: #455A64;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadDropDownList_Material2 .rddlInner {
    padding: 8px 36px 8px 13px;
    overflow: visible;
    border: 0;
    border-radius: 2px;
    transition: all .2s ease-in-out; }
    .RadDropDownList_Material2 .rddlInner:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 13px;
      right: 13px;
      border-bottom: 1px solid #CFD8DC; }
  .RadDropDownList_Material2 .rddlSelect {
    padding: 8px;
    width: 1.42857em; }
  .RadDropDownList_Material2 .p-i-arrow-60-down:before {
    font-size: 18px;
    font-family: "Material Icons";
    content: "\e5c5"; }
  .RadDropDownList_Material2 .rddlHovered {
    color: #455A64;
    background-color: #ECEFF1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadDropDownList_Material2 .rddlHovered:before {
      display: none; }
  .RadDropDownList_Material2 .rddlFocused {
    color: #455A64;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 0 0; }
    .RadDropDownList_Material2 .rddlFocused:before {
      left: 0;
      right: 0; }

.rddlPopup_Material2 {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  border-width: 0;
  border-radius: 2px;
  font-family: "Roboto", "Noto", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .rddlPopup_Material2 .rddlList {
    padding: 8px 0; }
  .rddlPopup_Material2 .rddlItem {
    padding: 6px 13px; }
  .rddlPopup_Material2 .rddlItemHovered, .rddlPopup_Material2 .rddlItemLoading {
    color: #455A64;
    background-color: #ECEFF1; }
  .rddlPopup_Material2 .rddlItemSelected {
    color: #03A9F4;
    background-color: transparent; }
