.RadGrid_Material2 {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;}
  .RadGrid_Material2 .t-button {
    padding: 7px;
    border-radius: 90px;
    color: #607D8B; }
    .RadGrid_Material2 .t-button:hover {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
    .RadGrid_Material2 .t-button:active {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #CFD8DC; }
  .RadGrid_Material2 .rgHeader .t-button:hover,
  .RadGrid_Material2 .rgGroupItem .t-button:hover {
    background: none; }
  .RadGrid_Material2 .t-font-icon:before {
    font-family: "Material Icons";
    font-size: 18px; }
  .RadGrid_Material2 .rgDragIcon:before,
  .RadGrid_Material2 .rgPrintIcon:before,
  .RadGrid_Material2 .rgExpDOCIcon:before,
  .RadGrid_Material2 .rgExpXLSIcon:before,
  .RadGrid_Material2 .rgExpCSVIcon:before,
  .RadGrid_Material2 .rgExpPDFIcon:before {
    font-family: "WebComponentsIcons"; }
  .RadGrid_Material2 .rgSortDescIcon:before {
    content: "\e5db"; }
  .RadGrid_Material2 .rgSortAscIcon:before {
    content: "\e5d8"; }
  .RadGrid_Material2 .rgAddIcon:before {
    content: "\e145"; }
  .RadGrid_Material2 .rgRefreshIcon:before {
    content: "\e5d5"; }
  .RadGrid_Material2 .rgFilterIcon:before {
    content: "\e152"; }
  .RadGrid_Material2 .rgCollapseIcon:before {
    content: "\e5cf"; }
  .RadGrid_Material2 .rgExpandIcon:before {
    content: "\e5cc"; }
  .RadGrid_Material2 .rgOptionsIcon:before {
    content: "\e5d4"; }
  .RadGrid_Material2 .rgSaveIcon:before {
    content: "\e161"; }
  .RadGrid_Material2 .rgDelIcon:before,
  .RadGrid_Material2 .rgCancelIcon:before {
    content: "\e14c"; }
  .RadGrid_Material2 .rgEditIcon:before {
    content: "\e254"; }
  .RadGrid_Material2 .rgUpdateIcon:before {
    content: "\e876"; }
  .RadGrid_Material2 .rgUngroupIcon::before {
    content: "\e14c"; }
  .RadGrid_Material2 .rgPrevIcon:before {
    content: "\e314"; }
  .RadGrid_Material2 .rgNextIcon:before {
    content: "\e315"; }
  .RadGrid_Material2 .rgInput,
  .RadGrid_Material2 .rgEditRow > td > [type="text"],
  .RadGrid_Material2 .rgEditForm td > [type="text"],
  .RadGrid_Material2 .rgBatchContainer > [type="text"],
  .RadGrid_Material2 .rgFilterBox {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: transparent;
    padding: 8px 0 7px;
    outline: none; }
    .RadGrid_Material2 .rgInput:hover,
    .RadGrid_Material2 .rgEditRow > td > [type="text"]:hover,
    .RadGrid_Material2 .rgEditForm td > [type="text"]:hover,
    .RadGrid_Material2 .rgBatchContainer > [type="text"]:hover,
    .RadGrid_Material2 .rgFilterBox:hover {
      border-color: #90A4AE;
      color: #455A64;
      background-color: transparent; }
    .RadGrid_Material2 .rgInput:focus,
    .RadGrid_Material2 .rgEditRow > td > [type="text"]:focus,
    .RadGrid_Material2 .rgEditForm td > [type="text"]:focus,
    .RadGrid_Material2 .rgBatchContainer > [type="text"]:focus,
    .RadGrid_Material2 .rgFilterBox:focus {
      border-color: #8BC34A;
      color: #455A64;
      background-color: transparent;
      box-shadow: 0 -1px 0 #8BC34A inset; }
    .t-ie .RadGrid_Material2 .rgInput, .t-ie
    .RadGrid_Material2 .rgEditRow > td > [type="text"], .t-ie
    .RadGrid_Material2 .rgEditForm td > [type="text"], .t-ie
    .RadGrid_Material2 .rgBatchContainer > [type="text"], .t-ie
    .RadGrid_Material2 .rgFilterBox {
      height: 36px;
      height: calc(1.42857em + 16px); }
  .RadGrid_Material2 .rgBatchContainer {
    font-size: 1.077em; }
  .RadGrid_Material2 .rgBatchContainer > [type="text"],
  .RadGrid_Material2 .rgBatchContainer .rfdCheckboxChecked,
  .RadGrid_Material2 .rgBatchContainer .rfdCheckboxUnchecked {
    margin-left: 13px; }
  .RadGrid_Material2 .rgEditForm label {
    font-size: .857em;
    color: #607D8B;
    font-weight: 500;
    line-height: 1.66667;
    padding-top: 8px;
    padding-bottom: 8px; }
  .RadGrid_Material2 .rgEditForm td > [type="text"] {
    margin-left: 13px; }
  .RadGrid_Material2 .rgHeaderDiv {
    border-color: #CFD8DC; }
  .RadGrid_Material2 .rgHeader,
  .RadGrid_Material2 th.rgResizeCol,
  .RadGrid_Material2 .rgHeaderWrapper {
    border: 0;
    border-bottom: 1px solid #CFD8DC;
    background-color: #ffffff;
    padding: 13px 15px; }
  .RadGrid_Material2 .rgHeader {
    font-size: .857em;
    font-weight: 500;
    line-height: 1.66667; }
    .RadGrid_Material2 .rgHeader .t-button {
      font-size: 1.167em;
      line-height: 1.42857; }
    .RadGrid_Material2 .rgHeader,
    .RadGrid_Material2 .rgHeader a {
      color: #607D8B; }
  .RadGrid_Material2 .rgMultiHeaderRow .rgHeader,
  .RadGrid_Material2 .rgMultiHeaderRow .rgResizeCol {
    border-left: 1px solid #CFD8DC; }
  .RadGrid_Material2 th.rgSorted,
  .RadGrid_Material2 th.rgSorted a,
  .RadGrid_Material2 th.rgSorted button {
    color: #263238; }
  .RadGrid_Material2 .rgEditRow,
  .RadGrid_Material2 .rgFilterRow,
  .RadGrid_Material2 .rgGroupHeader {
    height: 47px;
    height: calc(1.42857em + 27px); }
  .RadGrid_Material2 .rgFilterRow > td {
    border: 0;
    border-bottom: 1px solid #CFD8DC;
    padding: 5px 15px; }
  .RadGrid_Material2 .rgRow,
  .RadGrid_Material2 .rgAltRow,
  .RadGrid_Material2 .rgEditRow {
    height: 47px;
    height: calc(1.53846em + 27px);
    font-size: 0.929em;
    line-height: 1.53846; }
    .RadGrid_Material2 .rgRow > td,
    .RadGrid_Material2 .rgAltRow > td,
    .RadGrid_Material2 .rgEditRow > td {
      border: 0;
      border-bottom: 1px solid #CFD8DC;
      padding: 5px 15px; }
    .RadGrid_Material2 .rgRow .rgDragIcon,
    .RadGrid_Material2 .rgRow .t-button,
    .RadGrid_Material2 .rgAltRow .rgDragIcon,
    .RadGrid_Material2 .rgAltRow .t-button,
    .RadGrid_Material2 .rgEditRow .rgDragIcon,
    .RadGrid_Material2 .rgEditRow .t-button {
      font-size: 1.077em;
      line-height: 1.42857; }
    .RadGrid_Material2 .rgRow .t-ripple-container,
    .RadGrid_Material2 .rgAltRow .t-ripple-container,
    .RadGrid_Material2 .rgEditRow .t-ripple-container {
      margin: -1px 0 0 -1px; }
  .RadGrid_Material2 .rgBatchCurrent {
    padding-left: 2px; }
  .RadGrid_Material2 .rgEditForm {
    border-bottom: 1px solid #CFD8DC;
    padding: 8px; }
  .RadGrid_Material2 .rgActiveRow td:not(.rgExpandCol) {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent; }
  .RadGrid_Material2 .rgActiveRow td:first-child:not(.rgExpandCol),
  .RadGrid_Material2 .rgActiveRow .rgExpandCol + td {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset 5px 0px 5px -5px transparent; }
  .RadGrid_Material2 .rgActiveRow td:not(.rgExpandCol):last-child {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset -5px 0px 5px -5px transparent; }
  .RadGrid_Material2 .rgActiveCell {
    box-shadow: inset 0 0 5px transparent; }
  .RadGrid_Material2 .rgRow > td > a,
  .RadGrid_Material2 .rgAltRow > td > a,
  .RadGrid_Material2 .rgFooter > td > a,
  .RadGrid_Material2 .rgEditForm > td > a,
  .RadGrid_Material2 .rgEditRow > td > a,
  .RadGrid_Material2 .rgHoveredRow > td > a {
    color: #8BC34A;
    text-decoration: none; }
  .RadGrid_Material2 .rgMasterTable .rgSelectedCell,
  .RadGrid_Material2 .rgSelectedRow {
    background-color: #E1F5FE;
    color: #455A64; }
  .RadGrid_Material2 .rgSelectedCell > a,
  .RadGrid_Material2 .rgSelectedRow > td > a {
    color: #03A9F4; }
  .RadGrid_Material2 .rgHoveredRow {
    background-color: #ECEFF1;
    color: #455A64; }
  .RadGrid_Material2 .rgEditRow {
    background: #edf6e3;
    color: #455A64; }
  .RadGrid_Material2 .rgDeletedRow > td {
    border-color: #a3b4bc;
    color: #455A64; }
    .RadGrid_Material2 .rgDeletedRow > td a {
      color: #455A64; }
  .RadGrid_Material2 .rgBatchOverlay {
    background: rgba(207, 216, 220, 0.75); }
  .RadGrid_Material2 .rgBatchUndoDeleteButton {
    padding: 7px 13px;
    border-radius: 0;
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8; }
    .RadGrid_Material2 .rgBatchUndoDeleteButton:hover {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
  .RadGrid_Material2 .rgBatchUndoDeleteIcon:before {
    content: "\e166"; }
  .RadGrid_Material2 .rgDrag {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Material2.Grid.rgDrag.gif")%>'); }
  .RadGrid_Material2 .rgFooterWrapper {
    border-top: 1px solid #CFD8DC; }
  .RadGrid_Material2 .rgFooter {
    font-size: .857em;
    font-weight: 500;
    line-height: 1.66667;
    height: 47px;
    height: calc(1.66667em + 27px); }
    .RadGrid_Material2 .rgFooter td {
      border-bottom: 1px solid #CFD8DC;
      padding: 5px 15px; }
    .RadGrid_Material2 .rgFooter .rgGroupCol {
      border-bottom-color: #CFD8DC; }
    .RadGrid_Material2 .rgFooter,
    .RadGrid_Material2 .rgFooter a {
      color: #607D8B; }
  .RadGrid_Material2 tfoot .rgFooter .rgGroupCol {
    background-color: #ffffff;
    box-shadow: none; }
  .RadGrid_Material2 .rgFooterWrapper .rgFooter > td {
    border-bottom: 0; }
  .RadGrid_Material2 .rgStatus div {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Material2.Common.loading_small.gif")%>'); }
  .RadGrid_Material2 .rgPagerCell {
    color: #455A64;
    padding: 5px;
    border-color: #CFD8DC; }
    .RadGrid_Material2 .rgPagerCell .rgIcon:before {
      font-family: "WebComponentsIcons"; }
    .RadGrid_Material2 .rgPagerCell .rgAdvPart {
      line-height: inherit; }
    .RadGrid_Material2 .rgPagerCell .rgNumPart a {
      color: #ffffff; }
      .RadGrid_Material2 .rgPagerCell .rgNumPart a .t-ripple {
        border-radius: 90px; }
    .RadGrid_Material2 .rgPagerCell .rgPagerButton {
      border: 0 none;
      background-color: #f4f7f8;
      color: #455A64;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadGrid_Material2 .rgPagerCell .rgActionButton {
      border-radius: 90px; }
      .RadGrid_Material2 .rgPagerCell .rgActionButton:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1; }
    .RadGrid_Material2 .rgPagerCell .rgNumPart a {
      color: #455A64;
      text-align: center;
      border-width: 0;
      padding: 8px;
      min-width: 1.42857em; }
      .RadGrid_Material2 .rgPagerCell .rgNumPart a:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1;
        border-radius: 90px; }
      .RadGrid_Material2 .rgPagerCell .rgNumPart a.rgCurrentPage {
        border-bottom: 2px solid #8BC34A;
        color: #8BC34A;
        background: none;
        border-radius: 0;
        margin-bottom: -5px;
        padding-bottom: 11px; }
    .RadGrid_Material2 .rgPagerCell .RadInput,
    .RadGrid_Material2 .rgPagerCell .RadComboBox,
    .RadGrid_Material2 .rgPagerCell .RadDropDownList {
      min-width: 90px; }
    .RadGrid_Material2 .rgPagerCell .rgActionButton {
      box-sizing: content-box; }
    .RadGrid_Material2 .rgPagerCell .rgPagerButton {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #f4f7f8;
      padding: 8px 13px;
      border-radius: 0; }
      .RadGrid_Material2 .rgPagerCell .rgPagerButton:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1; }
    .RadGrid_Material2 .rgPagerCell .rgInfoPart,
    .RadGrid_Material2 .rgPagerCell .rgSliderLabel,
    .RadGrid_Material2 .rgPagerCell .rgPagerLabel {
      font-size: .857em;
      color: #607D8B;
      font-weight: 500;
      line-height: 1.66667;
      padding-top: 8px;
      padding-bottom: 8px; }
      .RadGrid_Material2 .rgPagerCell .rgInfoPart strong,
      .RadGrid_Material2 .rgPagerCell .rgSliderLabel strong,
      .RadGrid_Material2 .rgPagerCell .rgPagerLabel strong {
        font-weight: 500;
        font-size: 1.167em;
        line-height: 1.42857;
        color: #455A64; }
    .RadGrid_Material2 .rgPagerCell .RadSlider {
      margin: 7px 0; }

.GridReorderTop_Material2,
.GridReorderBottom_Material2 {
  color: #03A9F4; }

.RadGrid_Material2 .rgGroupPanel {
  padding: 5px;
  border-color: #CFD8DC;
  font-size: 1.143em;
  font-weight: 500;
  line-height: 36px;
  line-height: calc(1.25em + 16px); }
  .RadGrid_Material2 .rgGroupPanel,
  .RadGrid_Material2 .rgGroupPanel caption {
    background: #8BC34A;
    color: #ffffff; }

.RadGrid_Material2 .rgGroupItem {
  border-color: #8BC34A;
  color: #ffffff;
  background-color: #8BC34A;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  padding: 8px 13px;
  font-size: 0.875em; }
  .RadGrid_Material2 .rgGroupItem .t-button {
    color: inherit;
    position: relative;
    z-index: 10; }

.RadGrid_Material2 .rgGroupHeader {
  background-color: #f4f7f8;
  color: #455A64; }
  .RadGrid_Material2 .rgGroupHeader td {
    padding-left: 0;
    border-bottom: 1px solid #CFD8DC; }
  .RadGrid_Material2 .rgGroupHeader .t-ripple-container {
    margin: -1px 0 0 -1px; }

.RadGrid_Material2 .rgGroupHeaderText {
  font-size: .929em;
  line-height: 1.53846;
  font-weight: 500; }

.RadGrid_Material2 td.rgGroupCol,
.RadGrid_Material2 td.rgExpandCol {
  background-color: #f4f7f8;
  border-color: #f4f7f8;
  color: #455A64; }

.RadGrid_Material2 .rgCollapse {
  color: #263238; }

.RadGrid_Material2 .rgMasterTable {
  border-collapse: collapse; }

.RadGrid_Material2 .rgGroupHeader .rgGroupCol + .rgGroupCol {
  border-left: 1px solid #cfd8dc; }

.RadGrid_Material2 .rgGroupCol:empty {
  box-shadow: none !important; }

.RadGrid_Material2 .rgGroupHeader .rgGroupCol,
.RadGrid_Material2 .rgGroupHeader .rgGroupCol + td {
  box-shadow: 0 -1px 0 #cfd8dc; }

.RadGrid_Material2 .rgFilter .t-ripple-container {
  margin: -1px 0 0 -1px; }

.RadGrid_Material2 .rgFilterActive {
  color: #03A9F4; }

.RadGrid_Material2 .rgFiltered {
  color: #263238; }

.RadGrid_Material2 .rgGroupCol {
  box-shadow: -1px 0 0 #CFD8DC inset; }

.RadGrid_Material2 .rgDetailTable {
  border-color: #CFD8DC; }

.RadGrid_Material2 .rgCommandCell {
  padding: 0;
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #f4f7f8; }
  .RadGrid_Material2 .rgCommandCell .t-button {
    padding: 13px;
    border-radius: 0;
    border: 0 none; }
    .RadGrid_Material2 .rgCommandCell .t-button:hover {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
    .RadGrid_Material2 .rgCommandCell .t-button:active {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #CFD8DC; }

.GridContextMenu_Material2 .rmGroup span.rmIcon {
  margin-left: -2px; }

.GridContextMenu_Material2 .rmContent .rgHCMClear,
.GridContextMenu_Material2 .rmContent .rgHCMFilter {
  color: #8BC34A;
  padding: 8px;
  border: 0 none;
  background: none; }
  .GridContextMenu_Material2 .rmContent .rgHCMClear:hover,
  .GridContextMenu_Material2 .rmContent .rgHCMFilter:hover {
    color: #8BC34A;
    background-color: rgba(139, 195, 74, 0.12); }

.GridContextMenu_Material2 .rgHCMShow,
.GridContextMenu_Material2 .rgHCMAnd {
  font-size: .857em;
  color: #607D8B;
  font-weight: 500;
  line-height: 1.66667;
  padding-top: 8px;
  padding-bottom: 8px; }

.GridContextMenu_Material2 .rmGroup .rgHCMItem div.rmContent {
  padding: 15px;
  margin: 0 auto; }

.GridContextMenu_Material2 span.rgHCMSortAscsIcon:before,
.GridContextMenu_Material2 span.rgHCMSortDescIcon:before,
.GridContextMenu_Material2 span.rgHCMUnsortIcon:before,
.GridContextMenu_Material2 span.rgHCMGroupIcon:before,
.GridContextMenu_Material2 span.rgHCMUngroupIcon:before {
  font-family: "WebComponentsIcons"; }

.GridContextMenu_Material2 .rgHCMColsIcon:before {
  content: "\e8f3"; }

.GridContextMenu_Material2 .rgHCMFilterIcon:before {
  content: "\e152"; }

.RadMenu_Material_Context .rgFilterApply,
.RadMenu_Material_Context .rgFilterCancel {
  padding: 8px 13px;
  border: 0 none;
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #f4f7f8; }
  .RadMenu_Material_Context .rgFilterApply:hover,
  .RadMenu_Material_Context .rgFilterCancel:hover {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }

.GridToolTip_Material2 {
  background-color: #455A64;
  color: #ffffff;
  border-color: #455A64;
  padding: 4px; }
