.RadToolBar_Material2 {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #f4f7f8;
  padding: 0;
  font-family: "Roboto", "Noto", sans-serif;
  overflow: hidden; }
  .RadToolBar_Material2:before {
    padding: 13px 0; }
  .RadToolBar_Material2_Horizontal .rtbItem + .rtbItem {
    margin: 0; }
  .RadToolBar_Material2_Vertical .rtbItem + .rtbItem {
    margin-top: 0; }
  .RadToolBar_Material2 .rtbSeparator {
    margin: 0;
    border-color: #CFD8DC; }
  .RadToolBar_Material2 .rtbButton {
    border-width: 0;
    padding: 13px 15px;
    transition: all .2s ease-in-out; }
  .RadToolBar_Material2 .rtbButton.rtbIconOnly {
    padding: 13px; }
  .RadToolBar_Material2 .rtbArrow {
    margin: -13px -15px -13px 0;
    padding: 13px 10px; }
  .RadToolBar_Material2 .radIcon {
    height: 1.11111em;
    font-size: 18px;
    font-family: "Material Icons"; }
  .RadToolBar_Material2 .radIconDown:before {
    content: "\e5c5"; }
  .RadToolBar_Material2 .rtbIconOnly .rtbImage {
    margin: 0; }
  .RadToolBar_Material2 .rtbMore {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    padding: 13px;
    border-width: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .RadToolBar_Material2 .rtbMore .radIcon:before {
    content: "\e313"; }
  .RadToolBar_Material2 .rtbMenuButton.rtbIconOnly .rtbArrow {
    margin: -13px -13px -13px 13px; }
  .RadToolBar_Material2 .rtbSplitButton {
    padding: 0; }
    .RadToolBar_Material2 .rtbSplitButton .rtbSplBtnActivator {
      padding: 13px 15px;
      border-width: 0; }
    .RadToolBar_Material2 .rtbSplitButton .rtbArrow {
      margin: 0;
      border-width: 0; }
  .RadToolBar_Material2 .rtbSplitButton.rtbIconOnly {
    padding: 0; }
    .RadToolBar_Material2 .rtbSplitButton.rtbIconOnly .rtbSplBtnActivator {
      padding: 13px; }
  .RadToolBar_Material2 .rtbHovered .rtbButton {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadToolBar_Material2 .rtbHovered .rtbArrow {
    border-color: #CFD8DC; }
  .RadToolBar_Material2 .rtbFocused .rtbButton,
  .RadToolBar_Material2 .rtbFocused.rtbMore {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2); }
  .RadToolBar_Material2 .rtbFocused .rtbArrow {
    border-left-color: #CFD8DC; }
  .RadToolBar_Material2 .rtbChecked .rtbButton {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
  .RadToolBar_Material2 .rtbExpanded .rtbButton,
  .RadToolBar_Material2 .rtbExpanded .rtbButton.rtbMenuButton,
  .RadToolBar_Material2 .rtbExpanded.rtbMore {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2); }
  .RadToolBar_Material2 .rtbExpanded .rtbButton {
    z-index: 1;
    position: relative; }
  .RadToolBar_Material2 .rtbExpanded .rtbButton.rtbSplitButton .rtbSplBtnActivator,
  .RadToolBar_Material2 .rtbExpanded .rtbButton.rtbSplitButton .rtbArrow {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff; }
  .RadToolBar_Material2 .rtbPressed .rtbButton:not(.rtbSplitButton) {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
  .RadToolBar_Material2 .rtbPressed .rtbSplitButton,
  .RadToolBar_Material2 .rtbPressed .rtbArrow {
    border-color: #CFD8DC; }
  .RadToolBar_Material2 .rtbSplitButton .rtbPressed.rtbSplBtnActivator, .RadToolBar_Material2 .rtbSplitButton .rtbPressed.rtbArrow {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
  .RadToolBar_Material2_rtl.RadToolBar_Horizontal .rtbItem + .rtbItem {
    margin-left: 0;
    margin-right: 0; }
  .RadToolBar_Material2_rtl .rtbMenuButton .rtbArrow {
    margin: -13px 0 -13px -15px; }
  .RadToolBar_Material2_rtl .rtbSplitButton .rtbArrow {
    margin: 0; }
  .RadToolBar_Material2_rtl .rtbMore {
    left: 0;
    right: auto; }

.RadToolBar_Material2_Horizontal .rtbSeparator {
  border-width: 0 0 0 1px; }

.RadToolBar_Material2_Vertical:before {
  display: none; }

.RadToolBar_Material2_Vertical .rtbSeparator {
  border-width: 1px 0 0 0; }

.RadToolBar_Material2_Vertical .rtbSplitButton {
  padding-right: 29px; }
  .RadToolBar_Material2_Vertical .rtbSplitButton .rtbArrow {
    margin-right: -29px; }

.rtbPopup_Material2 {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  border-width: 0;
  font-family: "Roboto", "Noto", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .rtbPopup_Material2 .rtbMenu,
  .rtbPopup_Material2 .rtbUL {
    padding: 16px 0; }
  .rtbPopup_Material2 .rtbLink,
  .rtbPopup_Material2 .rtbInner {
    border: 0; }
  .rtbPopup_Material2 .rtbMenuButton,
  .rtbPopup_Material2 .rtbSplBtnActivator {
    padding: 8px 13px 8px 32px; }
  .rtbPopup_Material2 .rtbArrow {
    padding: 8px; }
  .rtbPopup_Material2 .radIcon {
    font-size: 18px;
    font-family: "Material Icons"; }
  .rtbPopup_Material2 .radIconDown:before {
    content: "\e5c5"; }
  .rtbPopup_Material2 .rtbExpanded .radIconDown:before {
    content: "\e5c7"; }
  .rtbPopup_Material2 .rtbSeparator {
    margin: 8px 0;
    border-color: #CFD8DC; }
  .rtbPopup_Material2 .rtbUL > .rtbSeparator {
    margin: 8px 0; }
  .rtbPopup_Material2 .rtbSplitItem .rtbInner {
    padding-right: calc(1.42857143em + 17px); }
  .rtbPopup_Material2 .rtbFocused > .rtbLink,
  .rtbPopup_Material2 .rtbFocused > .rtbInner {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative; }
  .rtbPopup_Material2 .rtbFocused > .rtbInner .rtbArrow {
    border-left-color: #CFD8DC; }
  .rtbPopup_Material2 .rtbHovered > .rtbLink {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .rtbPopup_Material2 .rtbHovered > .rtbInner,
  .rtbPopup_Material2 .rtbHovered.rtbSplitItem > .rtbInner.rtbButton {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
    .rtbPopup_Material2 .rtbHovered > .rtbInner .rtbArrow,
    .rtbPopup_Material2 .rtbHovered.rtbSplitItem > .rtbInner.rtbButton .rtbArrow {
      border-color: #CFD8DC; }
  .rtbPopup_Material2 .rtbSelected > .rtbLink {
    border-color: transparent;
    color: #03A9F4;
    background-color: transparent; }
  .rtbPopup_Material2 .rtbSelected > .rtbInner,
  .rtbPopup_Material2 .rtbPressed > .rtbInner,
  .rtbPopup_Material2 .rtbChecked > .rtbInner {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
    .rtbPopup_Material2 .rtbSelected > .rtbInner .rtbArrow,
    .rtbPopup_Material2 .rtbPressed > .rtbInner .rtbArrow,
    .rtbPopup_Material2 .rtbChecked > .rtbInner .rtbArrow {
      border-left-color: #CFD8DC; }
  .rtbPopup_Material2 .rtbSplitItem .rtbPressed.rtbSplBtnActivator, .rtbPopup_Material2 .rtbSplitItem .rtbPressed.rtbArrow {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
  .rtbPopup_Material2 .rtbExpanded > .rtbInner,
  .rtbPopup_Material2 .rtbExpanded.rtbHovered > .rtbInner.rtbButton {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .rtbPopup_Material2 .rtbExpanded > .rtbInner .rtbArrow,
    .rtbPopup_Material2 .rtbExpanded.rtbHovered > .rtbInner.rtbButton .rtbArrow {
      border-left-color: #CFD8DC; }
  .rtbPopup_Material2 .rtbMenu:before {
    display: none; }
  .rtbPopup_Material2.rtbShadows {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }

.rtbPopup_Material2_rtl .rtbMenuButton,
.rtbPopup_Material2_rtl .rtbSplBtnActivator {
  padding: 8px 32px 8px 13px; }

.rtbPopup_Material2_rtl .rtbSplitItem .rtbInner {
  padding-right: 0;
  padding-left: calc(1.42857143em + 17px); }
