.clr{
    color: '#eceeef'
}
/* Dialog css*/
.info-dialog-container {
    /* box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12); */
    background: #ffffffe6 !important;
    color: rgba(0,0,0,.87)!important;
    font-size:18px !important;
}

.info-dialog-container h2{

    font-size: 24px;
    font-weight: 600;


}