.fontcolor {
 color: white;
}
.Margin-left{
    margin-right: 20%;
}
::ng-deep .mat-input-wrapper{
    height: 20px !important;
  }

.roundSides{
    border-radius: 25px;
    border: 2px gy #73AD21;
    padding: 2px;
}
.btn-primary {
 margin-left: 6px !important;
}
.h2text{
  color: black;
}
.Dropdownclass{
  height: 20px;
  }
/* ===== test  */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
#Layer_1{
height: 15px;
}
.margin_tp{
  margin-top: 50px;
}
.ButtonFont{
  font-size: 70%;
  /* width: 50px; */
  text-align: center;
}
.radio-inline{
  padding-left: 0px !important;
}