.cssPager span 
{ 
	background-color:#4f6b72; font-size:18px;
	}  
	
	
	
	.cssPager td
            {
                  padding-left: 4px;     
                  padding-right: 4px;    
              }


    /*stylesheet for timeline by Arsalan*/
