<div class="background-img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="card-title"><img src="./assets/images/adminsitration.png" class="titleImageClass">
                    <label class="headertext"><b>{{FormName}}</b></label>
                </h4>
            </div>
        </div>

    </div>
    <hr>
    <mat-card class="mat-elevation-z3 mlr-15 mt-3">
        <mat-card-content>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                </mat-form-field>
                            </div>
                            <div class="col-sm">

                            </div>
                            <div class="col-sm">
                                <button color="primary" class="ctgrySaveButton pull-right" mat-raised-button
                                    name='SaveDefineGroup' (click)="NewEdit('New')"
                                    matTooltip="{{langObject.DefineNewGroup}}" 
                                    >
                                    {{langObject.DefineNewGroup}}</button>
                            </div>
                        </div>

                        <div class="CatagoryTable col-md-12  mt-3 ">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">
                                <ng-container matColumnDef="Desc_En">
                                    <th mat-header-cell *matHeaderCellDef title="{{langObject.tableGroup[0]}}" mat-sort-header>
                                        <b>{{langObject.tableGroup[0]}}</b> </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Desc_En}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Desc_Ar">
                                    <th mat-header-cell *matHeaderCellDef
                                    title="{{langObject.tableGroup[1]}}"
                                     mat-sort-header> {{langObject.tableGroup[1]}}
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Desc_Ar}} </td>
                                </ng-container>

                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    title="{{langObject.tableGroup[2]}}"
                                    > {{langObject.tableGroup[2]}}
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                            
                                            <!-- <img class="tableAction" (click)="NewEdit('Edit',element.GroupID)"
                                                src="./assets/images/edit.png" /> -->
                                                <div class="tableAction" (click)="NewEdit('Edit',element.GroupID)">
                                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                            viewBox="-35 126.7 540.3 540.3"
                                                            style="enable-background:new -35 126.7 540.3 540.3;"
                                                            xml:space="preserve">
                                                            <style type="text/css">
                                                                .st1 {
                                                                    fill: #FFFFFF;
                                                                }
                                                            </style>
                                                            <path class="st0" d="M391.1,600.8H103.3c-23.1,0-42-18.9-42-42V270.9c0-23.1,18.9-42,42-42h287.8c23.1,0,42,18.9,42,42v287.8
                                                                    C433.1,581.9,414.2,600.8,391.1,600.8z" />
                                                            <path class="st1" d="M366.1,575.8H128.2c-23.1,0-42-18.9-42-42V295.9c0-23.1,18.9-42,42-42h237.9c23.1,0,42,18.9,42,42v237.9
                                                                    C408.1,556.9,389.2,575.8,366.1,575.8z" />
                                                            <g>
                                                                <g>
                                                                    <polygon class="st0"
                                                                        points="136.2,525.8 160.4,522.6 139.4,501.6 		" />
                                                                    <polygon class="st0"
                                                                        points="143.1,473.2 140.6,492.2 169.8,521.4 188.8,518.9 318,389.7 272.3,344 		" />
                                                                    <path class="st0" d="M321.5,306.2c-1.5-1.5-3.6-2.3-5.6-2.3c-2.2,0-4.4,0.8-6,2.5l-31.2,31.2l45.7,45.7l31.2-31.2
                                                                            c3.3-3.3,3.4-8.5,0.2-11.7L321.5,306.2z" />
                                                                </g>
                                                            </g>
                                                        </svg>
        
                                                    </div>
                                        </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[25,50,100,200]" showFirstLastButtons></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>