<a id="show-sidebar" class="btn btn-sm btn-dark" >
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
        <div class="sidebar-search">
            <div>
            </div>
          </div> 
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu"></li>
              <li class="sidebar-dropdown">
                <a>
                  <mat-icon class="icon">dashboard</mat-icon>
                  <span>Administration</span>

                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a >Application Settings
                      
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a>
                  <mat-icon class="icon">file_copy</mat-icon>
                  <span>Definition</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a >Define Contact Supply Category
                        <!-- <span class="badge badge-pill badge-success">Pro</span> -->
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
       
      </nav>